<!-- <ion-header>
  <ion-toolbar>
    <ion-title>startpage</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col class="img" size="12" size-md="6">
      <ion-img src="assets/imagenes/Anima-Pet.png"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" size-md="6">
      <ion-button color="lila" class="botonesInicio" type="submit" routerLink="/login">Iniciar Sesión</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" size-md="6">
      <ion-button color="lila" class="botonesInicio" type="submit" routerLink="/register">Registrarse</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
