ion-button{
    background-color: var(--ion-color-lila);
}

ion-row {
    display: flex;
    justify-content: center;
    text-align: center;
}

.botonesInicio{
    text-align: center;
}

.img{
    margin-top: 10px;
}