<ion-header>
  <ion-toolbar color="lila">
    <ion-title>Lista de pacientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-searchbar 
        placeholder="Cliente existente"
        [(ngModel)]="searchTerm"
        showCancelButton="focus"
        animated></ion-searchbar>
      <ion-list *ngFor="let mascota of mascotas | filter:searchTerm" color="peach" class="list" lines="none">
        <ion-item color="casiblanco" class="item" (click)="postId(mascota)">
          <div class="img">
            <ion-img src="{{mascota.img}}"></ion-img>
          </div>
          <h3>Mascota: {{mascota.nombre}}<br>Contacto: {{mascota.contacto}}</h3>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>