ion-button, ion-toolbar {
  background-color: var(--ion-color-lila);
}

.img {
  width: 100px;
  height: 100px;
  background-color: var(--ion-color-peach);  
  margin-right: 20px; 
  margin-top: 5px;
  margin-bottom: 5px;
}

.item {
  margin-bottom: 5px;
}

.list .item {
  border-width: 1px;
  border-style: ridge;
  padding: 0%;
  border-radius: 10px;
}

.list {
  margin: 0%;
  list-style: none;
}

ion-item {
  background-color: var(--ion-color-softlila);
  margin: 10px;
}

ion-list {
  background-color: var(--ion-color-peach);
}