<ion-header>
  <ion-toolbar color="lila">
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col class="img" size="12" size-md="6">
      <ion-img src="assets/imagenes/Anima-Pet.png"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" size-md="6" width-50 style="text-align: left">
      <ion-item>
        <ion-label position="floating" color="lila">correo:</ion-label>
      <ion-input name="email" type="email" [(ngModel)]="user.email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="lila">contraseña:</ion-label>
        <ion-input name="password" type="password" [(ngModel)]="user.password"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" size-md="6" width-50 style="text-align: center">
      <ion-button color="lila" class="botonesInicio" type="submit" (click)="onLogin()">Iniciar Sesión</ion-button>
    </ion-col>
  </ion-row>
  <!-- <ion-row>
    <ion-col size="12" size-md="6" width-50 style="text-align: center">
      <ion-button color="lila" class="botonesInicio" type="submit" (click)="onLoginGoogle()" >Iniciar Sesión con Google</ion-button>
    </ion-col>
  </ion-row> -->
  <ion-row class="margen">
    <ion-col size="12" size-md="6" class="col" width-50 style="text-align: center">
     <div>
       <a class="link" routerLink="/register">No tienes cuenta, registrate.</a>
     </div>
    </ion-col>
  </ion-row>
</ion-content>