<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="list"></ion-icon>
      <!-- <ion-icon name="list-outline"></ion-icon> -->
      <ion-label>Citas de hoy</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="agregar">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Agregar paciente/cita</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pacientes">
      <ion-icon name="paw"></ion-icon>
      <ion-label>Pacientes</ion-label>
      <!-- <ion-icon name="settings"></ion-icon> -->
      <!-- <ion-icon name="settings-outline"></ion-icon> -->
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>