<ion-header>
  <ion-toolbar color="lila">
    <ion-title>Anima-Pet: Citas de Hoy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12" size-md="10">
      <ion-list color="peach" class="list" lines="none" *ngFor="let cita of citas">
        <ion-item color="casiblanco" class="item">
          <div class="img">
            <ion-img src="{{cita.mascota.img}}" ></ion-img>
          </div>
          <p>
            Hora: {{cita.hora}}
            <br>
            Fecha: {{cita.fecha}}
            <br>
            Servicio: {{cita.servicio}}
            <br>
            Contacto: {{cita.mascota.contacto}}
          </p>
        </ion-item>
      </ion-list>
      <!-- <ion-list *ngFor="let cita of citas"  color="peach" class="list" lines="none">
        <ion-item color="casiblanco" class="item">
          <h3>Hora: {{cita.hora}}<br>Fecha: {{cita.fecha}}<br>Servicio:{{cita.servicio}}</h3>
        </ion-item>
      </ion-list> -->
    </ion-col>
  </ion-row>
</ion-content>