ion-button, ion-toolbar {
    background-color: var(--ion-color-lila);
}

.botonesInicio{
    text-align: center;
}

.img{
    margin-top: 20px;
}

ion-label{
    margin-left: 20px;
    margin-right: 20px;
}

.margen{
    margin-top: 15px;
}

.link{
    text-decoration: none;
    color: var(--ion-color-lila);
}